# udev rules for the driver.
# please ensure uinput and p4io group are added

KERNEL=="uinput", SUBSYSTEM=="misc", GROUP="uinput", MODE="0660"
ATTR{idProduct}=="8010", ATTR{idVendor}=="1ccf", GROUP="p4io", MODE="0660"

